<h1>Chamados em aberto</h1>

<table>
  <tr>
    <th>Data agendada</th>
    <th>Data realizada</th>
    <th>Cliente</th>
    <th>Instalador</th>
    <th>Pacote</th>
    <th>Descricao</th>
    <th>Detalhes</th>
  </tr>

<% @agendas.each do |agenda| %>
  <tr>
    <td><%= agenda.data_agendada %></td>
    <td><%= agenda.data_realizada %></td>
    <td><%= agenda.Cliente.nome %></td>
    <td><%= agenda.Instalador.nome %></td>
    <td><%= agenda.Pacote.nome %></td>
    <td><%= agenda.descricao %></td>
    <td><%= link_to 'Mostrar', agenda %></td>
  </tr>
<% end %>
</table>

<br />