<p id="notice"><%= notice %></p>

<p>
  <b>Data agendada:</b>
  <%= @agenda.data_agendada %>
</p>

<p>
  <b>Data realizada:</b>
  <%= @agenda.data_realizada %>
</p>

<p>
  <b>Cliente:</b>
  <%= @agenda.Cliente.nome %>
</p>

<p>
  <b>Instalador:</b>
  <%= @agenda.Instalador.nome %>
</p>

<p>
  <b>Pacote:</b>
  <%= @agenda.Pacote.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @agenda.descricao %>
</p>


<%= link_to 'Edit', edit_agenda_path(@agenda) %> |
<%= link_to 'Back', agendas_path %>
