<h1>Listing faturas</h1>

<table>
  <tr>
    <th>Cliente</th>
    <th>Nome</th>
    <th>Numero inscricao</th>
    <th>Data vencimento</th>
    <th>Pacote</th>
    <th>Valor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faturas.each do |fatura| %>
  <tr>
    <td><%= fatura.cliente_id %></td>
    <td><%= fatura.nome %></td>
    <td><%= fatura.numero_inscricao %></td>
    <td><%= fatura.data_vencimento %></td>
    <td><%= fatura.pacote_id %></td>
    <td><%= fatura.valor %></td>
    <td><%= link_to 'Show', fatura %></td>
    <td><%= link_to 'Edit', edit_fatura_path(fatura) %></td>
    <td><%= link_to 'Destroy', fatura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fatura', new_fatura_path %>
