<p id="notice"><%= notice %></p>

<p>
  <b>Cliente Nome:</b>
  <%= @fatura.Cliente.nome %>
</p>

<p>
  <b>Numero inscricao:</b>
  <%= @fatura.Cliente.numero_inscricao %>
</p>

<p>
  <b>Data vencimento:</b>
  <%= @fatura.data_vencimento %>
</p>

<p>
  <b>Pacote:</b>
  <%= @fatura.Pacote.nome %>
</p>

<p>
  <b>Valor:</b>
  <%= @fatura.Pacote.valor %>
</p>


<%= link_to 'Edit', edit_fatura_path(@fatura) %> |
<%= link_to 'Back', faturas_path %>
