<%= form_for(@instalador) do |f| %>
  <% if @instalador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instalador.errors.count, "error") %> prohibited this instalador from being saved:</h2>

      <ul>
      <% @instalador.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :registro %><br />
    <%= f.text_field :registro %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
