<%= form_for(@venda) do |f| %>
  <% if @venda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venda.errors.count, "error") %> prohibited this venda from being saved:</h2>

      <ul>
      <% @venda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Clientes %><br />
    <%= f.text_field :Clientes %>
  </div>
  <div class="field">
    <%= f.label :Pacotes %><br />
    <%= f.text_field :Pacotes %>
  </div>
  <div class="field">
    <%= f.label :Vendedors %><br />
    <%= f.text_field :Vendedors %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :observacao %><br />
    <%= f.text_area :observacao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
