<p id="notice"><%= notice %></p>

<p>
  <b>Clientes:</b>
  <%= @venda.Cliente.nome %>
</p>

<p>
  <b>Pacotes:</b>
  <%= @venda.Pacote.nome %>
</p>

<p>
  <b>Vendedors:</b>
  <%= @venda.Vendedor.nome %>
</p>

<p>
  <b>Data:</b>
  <%= @venda.data %>
</p>

<p>
  <b>Observacao:</b>
  <%= @venda.observacao %>
</p>


<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %>
